
footer {
    display: flex;
    background-color: #51a3a3;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

.footer-title {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    line-height: 2;
}

footer p {
    margin: 0;
}

@media (max-width: 500px) {
    footer {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
}