
.notes-container {
    padding: 3rem 10em;
    background-color: #e1eeed;
    display: flex;
    /* need better way of doing height */
    min-height: 75vh;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1.5;
    flex: wrap;
    gap: 8%;
}

.single-note-container {
    display: flex;
    flex-direction: row;
    margin: 2em 0;
}

.notes-container .single-note-container {
    justify-content: center;
}

.current-notes, .new-note-form, .edit-note-form {
    flex: 1;
}

.new-note-form, .edit-note-form {
    background-color: #fff;
    padding: 0 2em 3em;
    text-align: center;
    align-self: flex-start;
    border-radius: 7px;
}


.notes-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    line-height: 2;
    text-align: center;
}

textarea {
    line-height: 1.5;
}

@media (max-width: 950px) {
    .notes-container {
        flex-direction: column;
        padding: 2rem 3rem;
    }
    .current-notes {
        align-self: stretch;
    }
    .new-note-form, .edit-note-form {
        align-self: stretch;
    }
}
