
.notes-container {
    padding: 5rem 6rem;
    background-color: #e1eeed;
    display: flex;
    /* need better way of doing height */
    height: 75vh;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}