
.notes-container {
    padding: 3rem 10em;
    background-color: #e1eeed;
    display: flex;
    /* need better way of doing height */
    min-height: 75vh;
    flex-direction: row;
    justify-content: space-between;
}