
.notes-icon {
    background-color: #a1a9fe;
    transition: all 0.3s ease;
    transform: scale(1);
}

.notes-icon h2  {
    font-size: 0.9em;
}

@media (max-width: 500px) {
    .notes-icon h2 {
        font-size: 0.7em;
        padding-top: 5px;
    }
}

