
.pinboard-container {
    padding: 4rem 5rem;
    background-color: #e1eeed;
    display: flex;
    /* need better way of doing height */
    min-height: 75vh;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content {
    padding: 1%;
    flex: 1;
}

.unpin-btn {
    height: 60px;
    width: 60px;
    align-self: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #eab880;
}

.unpin-btn p {
    font-size: 10.5pt;
    margin-top: 2px;
}

.single-reminder-container .unpin-btn {
    background-color: #e56399;
}

.unpin-btn:hover {
    background-color: #22517e;
    color: #fff;
}

.unpin-btn svg {
    margin: 0;
    font-size: 1.25rem;
}

@media (max-width: 700px) {
    .pinboard-container {
        flex-direction: column;
    }
}