
.pinboard-container {
    padding: 4rem 5rem;
    background-color: #e1eeed;
    display: flex;
    /* need better way of doing height */
    min-height: 75vh;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pinboard-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22pt;
}

.pinboard-container svg {
    margin: 0;
    font-size: 2rem;
    color: #51a3a3;
}

.content {
    padding: 1%;
    flex: 1;
}

.unpin-btn {
    height: 60px;
    width: 60px;
    align-self: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #eab880;
}

.unpin-btn p {
    font-size: 10.5pt;
    margin-top: 2px;
    font-weight: bold;
}

.single-reminder-container .unpin-btn {
    background-color: #e56399;
}

.single-note-container .unpin-btn {
    background-color: #a1a9fe;
}

.unpin-btn:hover {
    background-color: #22517e;
    color: #fff;
}

.unpin-btn svg {
    margin: 0;
    font-size: 1.25rem;
    color: #fff;
}

@media (max-width: 900px) {
    .pinboard-container {
        flex-direction: column;
    }
}