
.reminder-icon {
    background-color: #e56399;
    transition: all 0.3s ease;
    transform: scale(1);
}

.reminder-icon h2  {
    font-size: 0.9em;
}

@media (max-width: 500px) {
    .reminder-icon h2 {
        font-size: 0.7em;
        padding-top: 5px;
    }
}



