
.reminder-container {
    padding: 3rem 10em;
    background-color: #e1eeed;
    display: flex;
    min-height: 75vh;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.current-reminders, .new-reminder-form {
    flex: 1;
}

.new-reminder-form {
    background-color: #fff;
    border-radius: 7px;

    padding: 0 2em 3em;
    text-align: center;
    align-self: flex-start;
}

input, textarea {
    border: 1px solid #dcdcdc;
    border-radius: 7px;
    width: 50%;
    display: block;
    margin: 1em auto 1.7em;
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
}

input {
    line-height: 3.5;
}

/* .pin-checkbox-container {
    align-self: center;
} */

.checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 1.5em;
}

.checkbox:hover {
    cursor: pointer;
}

.reminder-container {
    line-height: 1.5;
    flex: wrap;
    gap: 8%;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root  {
    display: block;
    width: 80%;
}

button {
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    background-color: #51a3a3;
    border: none;
    border-radius: 7px;
    color: #fff;
    padding: 10px;
    transition: all 0.3s ease;
    transform: scale(1);
}

button:hover {
    background-color: #22517e;
    transform: scale(1.1) perspective(1px)
}

.single-reminder-container {
    display: flex;
    flex-direction: row;
    margin: 2em 0;
}

.current-reminders {
    /* padding: 0 2em; */
    width: 70%;
}

.reminder-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    line-height: 2;
    text-align: center;
}

.edit-btn, .delete-btn {
    /* flex: 1; */
    height: 50px;
    width: 50px;
    align-self: center;
    justify-content: center;
    border-radius: 50%;
}

.edit-btn {
    background-color: #eab880;
    color: grey;
}

.edit-btn:hover {
    color: #fff;
}

.delete-btn {
    background-color: #df7373;
}

.edit-btn svg, .delete-btn svg {
    margin: 0;
    font-size: 2rem;
}


@media (max-width: 950px) {
    .reminder-container {
        flex-direction: column;
        padding: 2rem 3rem;
    }
    .current-reminders {
        align-self: stretch;
    }
    .new-reminder-form {
        align-self: stretch;
    }
}
