.todo-container {
    padding: 3rem 10em;
    background-color: #e1eeed;
    display: flex;
    min-height: 75vh;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1.5;
    flex: wrap;
    gap: 8%;
}

.list, .new-todo-form, .edit-todo-form {
    flex: 1;
}

.new-todo-form, .edit-todo-form {
    background-color: #fff;
    padding: 0 2em 3em;
    text-align: center;
    align-self: flex-start;
    border-radius: 7px;
}

.new-todo-form label {
    display: block;
}

.new-todo-form input {
    width: 80%;
    display: inline;
}

.add-todo-btn {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.todo-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    line-height: 2;
    text-align: center;
}


@media (max-width: 950px) {
    .todo-container {
        flex-direction: column;
        padding: 2rem 3rem;
    }
    .list {
        align-self: stretch;
    }
    .new-todo-form, .edit-todo-form {
        align-self: stretch;
        margin: 5% 0;
    }
}


