
.list {
    background-color: #fff;
    border-radius: 7px;
    padding: 0 2em 3em;
    align-self: flex-start;
}

.list-item-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.todo-list-ul {
   
}

.todo-list-li {
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
}

.todo-list-li:hover {
    cursor: pointer;
}

.delete-todo-btn {
    margin: 2px;
    background-color: #df7373;
    width: 30px;
    height: 20px;
    padding: 0;
}

.crossed-out {
    text-decoration: line-through;
}