
.todo-icon {
    background-color: #de6e4b;
    transition: all 0.3s ease;
    transform: scale(1);
}

.todo-icon h2  {
    font-size: 0.9em;
}

@media (max-width: 500px) {
    .todo-icon h2 {
        font-size: 0.7em;
        padding-top: 5px;
    }
}